@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="unmenuInfoForm">


            <input type="hidden" id="id" value="${menu.id}">
            <input type="hidden" id="ismenuValue" value="${menu.ismenu}">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="名称" value="${menu.name}" underline="true"/>
                    <#input id="code" name="编号" value="${menu.code}" underline="true"/>
                    <#input id="pcodeName" name="父级编号" value="${menu.pcodeName}" underline="true"
                    hidden="pcode" readonly="readonly" hiddenValue="${menu.pcode}"
                    clickFun="UnifiedMenuInfoDlg.showMenuSelectTree(); return false;"
                    style="background-color: #ffffff !important;"
                    selectFlag="true" selectId="pcodeTreeDiv" selectTreeId="pcodeTree" selectStyle="width:244px !important;"/>
                    <!--<#input id="pcodes" name="当前菜单的所有父菜单编号" value="${menu.pcodes}" underline="true"/>-->
                            <#input id="unqiuecode" name="子系统唯一标识" value="${menu.unqiuecode}" />
                </div>

                <div class="col-sm-6">
                            <#input id="url" name="url" value="${menu.url}" underline="true"/>
                            <#input id="num" name="排序号" value="${menu.num}" underline="true"/>
                            <!--<#input id="levels" name="菜单层级" value="${menu.levels}" underline="true"/>-->
                    <#select id="ismenu" name="是否是菜单">
                    <option value="1">是</option>
                    <option value="0">不是</option>
                </#select>
                            <#input id="tips" name="备注" value="${menu.tips}" underline="true"/>
                            <!--<#input id="appid" name="所属应用" value="${menu.appid}" />-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UnifiedMenuInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UnifiedMenuInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/unifiedMenu/unifiedMenu_info.js"></script>
@}
