@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#avatar id="logo" name="logo" underline="true"/>
                        <#select id="flag" name="状态" underline="true">
                        <option value="1">启用</option>
                        <option value="2">停用</option>
                    </#select>

                <#select id="type" name="类别" underline="true">
                <option value="1">pc</option>
                <option value="2">移动端</option>
            </#select>
                    <#input id="loginurl" name="登录路径" underline="true"/>
                    <#input id="ip" name="服务器ip" underline="true"/>
                    <#input id="sort" name="排序" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#avatar id="noauthenlogo" name="灰色logo" underline="true"/>
                    <#input id="name" name="名称" underline="true"/>
                    <#input id="url" name="访问路径" underline="true"/>
                    <#input id="authurl" name="认证路径" underline="true"/>
                    <#input id="cancelurl" name="注销路径" underline="true"/>

                </div>
            </div>

        <div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">
            <div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                 role="progressbar" class="progress-bar progress-bar-info">
            </div>
        </div>

        <div class="row btn-group-m-t">
            <div class="col-sm-10">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ApplicationInfoDlg.addSubmit()"/>
                <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ApplicationInfoDlg.close()"/>
            </div>
        </div>
    </div>
</div>
</div>
<script src="${ctxPath}/static/modular/unified/application/application_info.js"></script>
@}
