@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="userid" name="" value="${item.userid}" />
                </div>

                <div class="col-sm-6">
                            <#input id="roleid" name="" value="${item.roleid}" underline="true"/>
                            <#input id="appid" name="" value="${item.appid}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UnifiedUserRoleInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UnifiedUserRoleInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/unified/unifiedUserRole/unifiedUserRole_info.js"></script>
@}
