<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>APP下载-统一门户身份认证系统</title>
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/downapp/dn.css"/>

	</head>
	<body class="body">
		<div class="content">
			<div class="mb-con">
				<img src="${ctxPath}/static/downapp/mb-icon.png"/>
			</div>
			<div class="txt-con">
				<h1>APP下载</h1>
				<h2>统一门户身份认证系统</h2>
				<div class="ewm">
					<ul>
						<li>
							<div class="imgbox">
								<img src="${ctxPath}/static/downapp/ewm-ios.png"/>
							</div>
							<div class="btnbox ios">
								<div class="pd"><span>Iphone </span>下载</div>
							</div>
						</li>
						<li class="right">
							<div class="imgbox">
								<img src="${ctxPath}/static/downapp/ewm-ad.png"/>
							</div>
							<div class="btnbox ad">
								<div class="pd"><span>Android </span>下载</div>
							</div>
						</li>
					</ul>
					
					
				</div>
				
			</div>
		</div>
	</body>
</html>
